body {
    background-color: rgba(120, 163, 212, 0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.italics{
    font-style: italic;
}
.list{
    color: rgb(126, 105, 105); 
}
.link{
    margin: auto;
    width: 50%;
}